<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
          <a href="{% url 'homepage' %}" class="btn btn-lg">Main page</a>

{#        <a class="navbar-brand" href="{% url "main_page" %}">Orders</a>#}
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">

{#            <li id="li1"><a href="{% url "insert_page" %}">Producers</a></li>#}
{#            <li id="li2"><a href="{% url "edit_page" %}">Products</a></li>#}
{#            <li id="li3"><a href="{% url "remove_page" %}">Clients</a></li>#}
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
</div> <!-- /container -->

